<div>
  <h2>{{title}}</h2>
  <p>Account costs to all alternatives upon startup</p>
  <ul class="no-bullet">
    <li ng-repeat="(key, alternative) in currentStep.problem.alternatives">
      <h5 class="subheader">{{alternative.title}}</h5>
        <div class="row">
          <input type="number" ng-model="alternative.interventioncost">
        </div>
    </li>
  </ul>
  <p>Account costs to all states upon entering such state</p>
  <ul class="no-bullet">
    <li ng-repeat="(key, alternative) in currentStep.problem.states">
      <h5 class="subheader">{{alternative.title}}</h5>
        <div class="row">
          <input type="number" ng-model="alternative.statecost">
        </div>
    </li>
  </ul>
  <button class="small success" ng-click="save(currentStep)">Save</button>
</div>