<div class="row">
    
   <div class="panel">
      <strong>Disclaimer:</strong> Submit button automatically selects CEAexample.json, please wait a few seconds for it to load.
    </div>

	<button class="small secondary button" ng-click="submit(method, input)">Submit JSON Format</button>
	
	<div class="columns" ng-show="status">
       <h2 class="subheader">Status</h2>
       <div class="panel"><pre>{{status | json}}</pre></div>
     </div>
     <div class="columns" ng-show="results">
       <h2 class="subheader">Results</h2>
       <div class="panel"><pre>{{results | json}}</pre></div>
     </div>
     <div class="columns" ng-show="error">
       <h2 class="subheader">Error</h2>
       <div class="panel"><pre>{{error | json}}</pre></div>
     </div>
     
	 	<h5>CEAC</h5>
	    <div style="width: 650px; height: 350px">
	      <line-chart value="bobFunctie()"></line-chart>
	    </div>
</div>