<div>
  <h2>{{title}}</h2>
  <p>This page defines the transition rates between states per alternative. Right now the only inputs are patient level transition reports to form a multinomial beta (Dirichlet) distribution.</p>
  <ul class="no-bullet">
    <li ng-repeat="(key, alternative) in currentStep.problem.alternatives">
      <h5 class="subheader">{{alternative.title}}</h5>
        <div class="columns">           
          <table class="table table-striped table-condensed table-hover" style="font-size: 20px;">
            <thead>
              <tr >
                <th></th><th ng-repeat="row in iterableTransitions[alternative.title]" > {{row.state}} </th> 
              </tr>
            </thead>                       
            <tbody>    
              <tr ng-repeat="row in iterableTransitions[alternative.title]" > 
              <th> {{row.state}} </th>                                  
                <td ng-repeat="cell in row.cells" ng-model="cell.value">
                  <input type="number" ng-model="cell.value">
                </td> 
              </tr>
            </tbody>                             
          </table>  
        </div>
      <br>
    </li>
  </ul>
  <p> Also add measured effect </p>
  <ul class="no-bullet">     
    <table class="table table-striped table-condensed table-hover" style="font-size: 20px;">
      <thead>
        <tr> <th></th><th> Measured Effect </th> </tr>
      </thead>                       
      <tbody>    
        <tr ng-repeat="(key, state) in currentStep.problem.states" >  
          <th> {{state.title}} </th>
          <td> <input type="number" ng-model="state.measuredEffect"> </td>
        </tr>
      </tbody>                             
    </table>  
  </ul>
  <button class="small success" ng-click="save(currentStep)">Save</button>
</div>