<div>
  <h3>Simulation Parameters</h3>
  <p>Patients start in several stages</p>
  <ul class="no-bullet">     
    <table class="table table-striped table-condensed table-hover" style="font-size: 20px;">
      <thead>
        <tr><th> State  </th><th> Patients entering </th> </tr>
      </thead>                       
      <tbody>    
        <tr ng-repeat="(key, state) in currentStep.problem.states" >  
          <th> {{state.title}} </th>
          <td> <input type="number" ng-model="state.startingPatients"> </td>
        </tr>
      </tbody>                             
    </table>  
  </ul>
  <p>Time Horizon and discounting effects</p>
  <ul class="no-bullet">     
    <table class="table table-striped table-condensed table-hover" style="font-size: 20px;">                     
      <tbody>    
        <tr>  
          <th> discountBenefits </th>
          <td> <input type="number" ng-model="currentStep.problem.discountBenefits"> </td>
        </tr>
        <tr>
          <th> discountCosts </th>
          <td> <input type="number" ng-model="currentStep.problem.discountCosts"> </td>
        </tr>
        <tr>
          <th> iterations </th>
          <td> <input type="number" ng-model="currentStep.problem.iterations"> </td>
        </tr>
        <tr>
          <th> cycles </th>
          <td> <input type="number" ng-model="currentStep.problem.cycles"> </td>
        </tr>
      </tbody>                             
    </table>  
  </ul>
  <button class="small success" ng-click="save(currentStep)">Save</button>
</div>