<div>
  <h3>Transition Probabilities</h3>
  <p>Transition rates are used to approximate disease progression. These should be reported on a state-to-state basis per alternative.
  <br> Right now only two simulation options are available, probabilistic, where for each alternative the transition rates are reported in absolute numbers.
  and probabilistic with a relative effect, where the first alternative is reported in absolute numbers and acts as a baseline while the 
  competing alternatives are reported as hazard ratios obtained from scientific publications (use a 1 if no hazard ratio).
  </p>
  <h5>Choose the simulation option:</h5>
  <p><select ng-model="simulationApproach.id" 
          ng-options="s.id as s.name group by s.approach for s in simulationApproaches"
          ng-init= "simulationApproach.id = simulationApproachInitialize.id" ></select> </p>
  <h5>Report the transition rates:</h5>
  <ul class="no-bullet">
    <li ng-repeat="(key, alternative) in currentStep.problem.alternatives">
      <h5 class="subheader">{{alternative.title}}</h5>
        <div class="columns">           
          <table class="table table-striped table-condensed table-hover" style="font-size: 20px;">
            <thead>
              <tr >
                <th></th><th ng-repeat="row in iterableTransitions[alternative.title]" > {{row.state}} </th> 
              </tr>
            </thead>                       
            <tbody>    
              <tr ng-repeat="row in iterableTransitions[alternative.title]" > 
              <th> {{row.state}} </th>                                  
                <td ng-repeat="cell in row.cells" ng-model="cell.value">
                  <input type="number" ng-model="cell.value" ng-disabled="disable(cell.value)">
                </td> 
              </tr>
            </tbody>                             
          </table>  
        </div>
      <br>
    </li>
  </ul>
  <button class="small success" ng-click="save(currentStep)">Save</button>
</div>